{% extends "main/base.html" %}

{% block title %}
	Вход
{% endblock %}

{% block notes %}
	<div id=content>
		<form id=main_form align=center action="" method="post" novalidate>
			{{ form.hidden_tag() }}
			<p class=field>
				{{ form.username.label }}
				{{ form.username(size=32, class_=input_cls) }}
				<div>
				{% for error in form.username.errors %}
					<div style="color: red;">[{{ error }}]</div>
				{% endfor %}
				</div>
			</p>
			
			<p class=field>
				{{ form.password.label }}
				{{ form.password(size=32, class_=input_cls) }}
				<div>
				{% for error in form.password.errors %}
					<div style="color: red;">[{{ error }}]</div>
				{% endfor %}
				</div>
			</p>
			
			<p>
				{{ form.remember() }}
				<span class=login_desc>
					{{ form.remember.label }}
				</span>
			</p>
			
			<p>
				{{ form.submit() }}
			</p>
			
			<div id=mes>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for m in messages %}
						{{ m }}
					{% endfor %}
				{% endif %}
			{% endwith %}
			</div>
		
		</form>
	</div>
{% endblock %}