@font-face {
	font-family: 'Metroplex';
	src: url('Metroplex.ttf');
}

a{
	color:#0069A7;
}
		
body{
	font-family:Arial;
	font-size:1em;
	width: 100%;
	height: 100%;
	margin:0px;
	background-color:#F2F3F3;
}

footer{
	background-color:#E3E4E7;
	border-top:3px solid #4869D6;
	padding:15px;
	font-size:0.7em;
}

#main_link{
	text-decoration:none;
	color:white;
}

#main_link:hover{
	font-style:underline;
}

.news{
	background-color:#E3E4E7;
	padding:0.8em;
	margin-top: 1em;
}

.who_says{
	font-size:0.8em;
	font-weight:bold;
	margin-bottom:1em;
	color:#4869D6;
}

.avatar{
	width: 2.4em;
	height: 2.4em;
	vertical-align:middle;
	background-color:#4869D6;
	border: 2px solid #4869D6;
	border-radius:3em;
}
			
#header{
	color:white;
	background-color:#4869D6;
	padding:0.5em;
	position:fixed;
	left:0px;
	top:0px;
	width: 100%;
}
			
#header_content{
	width:60%;
	margin-left:20%;
	height:2em;
}

#logo{
	font-family: 'Metroplex';
	font-size: 2em;
	vertical-align:middle;
}
			
#content{
	width:50%;
	height: 100%;
	margin-left:25%;
	padding:0.5em;
	margin-top:3em;
}

#login{
	vertical-align:middle;
	background-color:transparent;
	border-color:transparent;
	color:white;
	display: inline-block;
	text-decoration: none;
	margin-right: 0.3em;
	margin-left: 0.1em;
}

#sign_in{
	vertical-align:middle;
	background-color:transparent;
	border-color:transparent;
	color:white;
	display: inline-block;
	text-decoration: none;
	font-size: 0.9em;
	margin-left: 0.3em;
}

#sign_out{
	vertical-align:middle;
	background-color:transparent;
	border-color:transparent;
	color:white;
	display: inline-block;
	text-decoration: none;
	font-size: 0.9em;
	margin-left: 0.3em;
}

#btn{
	position:fixed;
	vertical-align:middle;
	right:20%;
	height:1em;
	top:0.4em;
}

#mes{
	color:red;
	width: 40%;
	margin: auto;
	font-size: 0.9em;
	border: 0px solid black;
	border-radius: 0.6em;
	padding: 0.5em;
}

#main_form{
	margin: auto;
}

.field{
	
}

#say_smth{
	color: #4869D6;
	font-size: 1.2em;
}

#notearea{
	width: 60%;
	padding: 0.5em;
}

#submit{
	background-color: #4869D6;
	border: none;
	padding: 0.3em 1.2em;
	border-radius: 3px;
	color: white;
	font-size: 0.9em;
}

#user_info{
	display: inline;
	height: 20%;
}

#name{
	display: inline-block;
	margin-top: 0.5em;
	vertical-align: top;
	font-size: 1.8em;
}

.other_user{
	margin-left: 0px;
	margin-top: 0.1em;
	font-size: 1.1em;
}

#about_me{
	margin-left: 0px;
	margin-top: 0.3em;
	font-size: 0.8em;
}

#account_avatar{
	vertical-align: middle;
	border: 0px solid black;
	border-radius: 0.6em;
}

#form_table{
	margin: 0 auto;
}

#form_table.td{
	padding: 1em;
}

.form_label{
	text-align: right;
	font-size: 0.9em;
	padding-right: 0.5em;
}

#area{
	font-size: 1em;
}

#error_num{
	color: red;
	font-size: 10em;
	text-align: center;
	margin: 0 auto;
}

#error_desc{
	text-align: center;
	margin: 0 auto;
}


