{% extends 'bootstrap/base.html' %}

{% block title %}
    SeriousBlog
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} ?133>
{% endblock %}

{% block navbar %}
    <div id=header>
        <div id=header_content>

            <span id=logo>
                <a href={{ url_for('main.notes') }} id=main_link>SeriousBlog</a>
            </span>

            <a id=globe href={{ url_for("main.notes") }}>
                {{ _('Главная') }}
            </a>

            |

            <a id=globe href={{ url_for("main.globe") }}>
                {{ _("Глобус") }}
            </a>

            <div id=btn>
                <a id=login
                   href={% if current_user.is_anonymous %}
                   {{ url_for('auth.login') }}
                   {% else %}
                   {{ url_for('main.me', username=current_user.username) }}
                   {% endif %}>
                    <img class=avatar style="width: 2em; height: 2em;" src={% if current_user.is_anonymous %}
                         {{ url_for('static', filename='account.svg') }}
                         {% else %}
                         {{ current_user.avatar(45) }}
                         {% endif %} />


                    <span style="font-size: 0.9em; vertical-align: middle;">
                        {% if current_user.is_anonymous %}
                        {{ _('Войти') }}
                        {% else %}
                        {{ current_user.username }}
                        {% endif %}
                    </span>

                </a>

                |

                {%if current_user.is_anonymous%}
                    <a id=sign_in href={{ url_for('auth.register') }}>
                        {{ _('Зарегистрироваться') }}
                    </a>
                {%else%}
                    <a id=sign_out href={{ url_for('auth.logout') }}>
                        {{ _('Выйти') }}
                    </a>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}

{% block content %}

    {% block notes %}
    {% endblock %}

{% endblock %}

{% block scripts %}

    <script>
			function loginClick() {
                {% if not current_user.is_anonymous %}
                location.href = '/me';
                {% else %}
                location.href = '/login';
                {% endif %}
            }

            function logOut() {
                location.href = '/logout';
            }

            function register() {
                location.href = '/register';
            }
			
			function translate(sElem, tElem, mark, sLang, dLang){
                $(tElem).show();
                $(mark).hide();
				$(tElem).html('<img src="{{ url_for('static', filename='loading.gif') }}"/>');
				$.post(
                    '/translate', {
					text: $(sElem).text(),
					source_lang: sLang,
                    dest_lang: dLang
				}).done(function(response){
                    $(sElem).hide();
                    $(tElem).html(response['text']);
                    $(mark).show();
                }).fail(function(){
                    $(tElem).html("{{ _('Ошибка: невозможно связаться с сервером') }}");
                });
			}
    </script>

    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}

{% endblock %}