{% extends "main/base.html" %}

{% block title %}
	{{ user.username }}
{% endblock %}

{% block notes %}

	<div id=content>
		
		<img src= {{ user.avatar(200) }} style="width: 8em;"/>
		<div id=user_info>
			<div id=name>
				{{ user.username }}
				
				{% if user == current_user %}
				<a id=submit href={{ url_for("main.edit", username=user.username) }} style="font-size: 0.5em; vertical-align: middle; margin-left: 0.3em; text-decoration: none;">
					{{ _('Изменить профиль') }}
				</a>
				{% elif not current_user.is_following(user) %}
				<a id=submit href={{ url_for("main.follow", username=user.username) }} style="font-size: 0.5em; vertical-align: middle; margin-left: 0.3em; text-decoration: none;">
					{{ _('Подписаться') }}
				</a>
				{% else %}
				<a id=submit href={{ url_for("main.unfollow", username=user.username) }} style="font-size: 0.5em; vertical-align: middle; margin-left: 0.3em; background-color: white; text-decoration: none; color:#4869D6; border: 1px solid #4869D6">
					{{ _('Отписаться') }}
				</a>
				{% endif %}
				
			</div>
			
			<div class=other_user>
				{{ _('Был(а) в сети') }}
				{{ moment(user.last_seen).calendar() }}
			</div>
			
			<div id=about_me>
				<i>{{ user.about_me }}</i>
			</div>
		</div>
		
		<hr style="border: 1px solid #4869D6" />
		
		<div id=my_notes>
			{% for note in notes %}
				{% include "main/_note.html" %}
			{% endfor %}
		</div>
		
	</div>
	
	{% include "main/_footer.html" %}

{% endblock %}