<!DOCTYPE html>
<html>
	<head>
		<title>SeriousBlog | {% block title%}{% endblock %}</title>
		<link rel="stylesheet" href={{ url_for('static', filename='style.css') }}?21>
		<script type="text/javascript">
			function loginClick(){
				{% if not current_user.is_anonymous %}
					location.href= '/me';
				{% else %}
					location.href= '/login';
				{% endif %}
			}
			
			function logOut(){
				location.href = '/logout';
			}
			
			function register(){
				location.href = '/register';
			}
		</script>
	</head>
	<body>
		
		<div id=header>
			<div id=header_content>
				<span id=logo>
					<a href={{ url_for('notes') }} id=main_link>SeriousBlog</a>
				</span>
				
				<div id=btn>
					<button id=login onclick="loginClick()">
						<img src={{ url_for('static', filename='account.svg') }} style="vertical-align:middle"/>
						<span style="vertical-align:middle">
						{% if current_user.is_anonymous %}
							Войти
						{% else %}
							{{ current_user.username }}
						{% endif %}
						</span>
					</button>
					
					{%if current_user.is_anonymous%}
					<button id=sign_in onclick="register()">
						Зарегистрироваться
					</button>
					{%else%}
					<button id=sign_out onclick="logOut()">
						Выйти
					</button>
					{% endif %}
				</div>
				
			</div>
		</div>
		
		{% block notes %}
		{% endblock %}
		
	</body>
</html>