{% extends "base.html" %}

{% block title %}
	Записи
{% endblock %}

{% block notes %}
	<div id=content>
	
		<div id=say_smth>
		Напишите о ваших мыслях:
		</div>
		<textarea id=notearea>
		</textarea>
			
		{% for note in notes %}
			{% include "_note.html" %}
		{% endfor %}
		
		</div>
		
		<footer>
			SeriousBlog. Created by Serious Games. 2019. All rights reserved.
			<a href="">Команда разработчиков</a>&nbsp;
			<a href="">Реклама</a>&nbsp;
			<a href="">О сервисе</a>&nbsp;
			<a href="">Техническая поддержка</a>&nbsp;
		</footer>
{% endblock %}